 {{!-- //bootstrap --}}
<h2>Create User Account</h2>
<div class= "card" id="loginSection">
<form class="form login-form" action="/login" method="POST">
  <div class="form-group">
    <label for="email-login">Create a Username:</label>
    <input class="form-input" name="email" type="text" id="email-login" />
  </div>
  <div class="form-group">
    <label for="password-login">Create a Password:</label>
    <input class="form-input" name="password" type="password" id="password-login" />
  </div>
  <div class="form-group">
    <button class="btn btn-primary" name="loginID" type="submit">Create Account</button>
  </div>
</form>
</div>


<script src="/js/login.js"></script> 