<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
  rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
  crossorigin="anonymous"> "
<link rel="stylesheet" href="style.css">


<div class="card text-center">
  <div class="card-header"> Create User Account </div>

  <div class="container card-body">

    <div class="form-group">
      <label for="email-login">Create a Username:</label>
      <input class="form-input" name="email" type="text" id="email-login" />
    </div>

    <div class="form-group">
      <label for="password-login">Create a Password:</label>
      <input class="form-input" name="password" type="password" id="password-login" />
    </div>

    <div class="form-group">
      <button class="btn btn-success" name="loginID" type="submit">Create Account</button>
    </div>

  </div>

</div>



<script src="/js/login.js"></script>