 {{!-- //bootstrap --}}
<h2>Login</h2>
<div class= "card" id="loginSection">
  <form class="form login-form" action="/login" method="POST">
    <div class="form-group">
      <label for="email-login">Email:</label>
      <input class="form-input" name="email" type="text" id="email-login" />
    </div>
    <div class="form-group">
      <label for="password-login">Password:</label>
      <input class="form-input" name="password" type="password" id="password-login" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary" name="loginID" type="submit">Login</button>
    </div>
  </form>
</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Play a Game</h5>
    <p class="card-text">Play A Game</p>
    <a href="/game" class="btn btn-primary">Click Here</a>
  </div>
</div>

{{!-- <script src="/js/login.js"></script>  --}}