<!DOCTYPE html>
<html>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
  rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
  crossorigin="anonymous">
{{!-- <link rel="stylesheet" href="style.css"> --}}
<br>
<br>
<body>
<div class="card text-center">
  <div class="card-header"> 
    <h2>Log In</h2> 
        <div class="login-form">
			<form action="/login" method="POST">
				<input type="text" name="email" placeholder="Email" required>
        <br>
				<input type="password" name="password" placeholder="Password" required>
        <br>
          <a class="btn btn-info" type="submit" href="/dashboard" >Log In</a>
			</form>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{{#if logged_in}}
<script src="/js/login.js"></script>
{{/if}}
</body>
</html>
