{{!-- <h2>Dashboard</h2> --}}

{{> navbar}}

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Play a Game</h5>
    <p class="card-text">Play today's mind-game!</p>
    <a href="/game" class="btn btn-primary">Click Here</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Past Activity</h5>
    <p class="card-text">View your past scores and stats</p>
    <a href="/activity" class="btn btn-primary">View</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Meditate</h5>
    <p class="card-text">Enjoy 3 minutes of uninterrupted meditation</p>
    <a href="/meditate" class="btn btn-primary">Click Here</a>
  </div>
</div>